soot-infoflow-collections/schema/CollectionModel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="collectionModel">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="method" type="method" />
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
            <xs:attribute name="type" type="collectionType" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="method">
        <xs:sequence maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="access" type="access" />
                <xs:element name="insert" type="insert" />
                <xs:element name="remove" type="remove" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="access">
        <xs:choice>
            <xs:sequence maxOccurs="2">
                <xs:element name="key">
                    <xs:complexType>
                        <xs:attribute name="idx" type="xs:int"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:element name="allKeys" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="insert">
        <xs:sequence>
            <xs:sequence maxOccurs="2">
                <xs:element name="key">
                    <xs:complexType>
                        <xs:attribute name="idx" type="xs:int"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:element name="data" type="data" />
            <xs:element name="return" type="return" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="remove">
        <xs:sequence>
            <xs:choice>
                <xs:sequence maxOccurs="2">
                    <xs:element name="key">
                        <xs:complexType>
                            <xs:attribute name="idx" type="xs:int"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:element name="allKeys" />
            </xs:choice>
            <xs:element name="return" type="return" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="data">
        <xs:attribute name="idx" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="return">
    </xs:complexType>

    <xs:simpleType name="collectionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="value" />
            <xs:enumeration value="position" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
